<div class="row">
  <div class="col-md-6 col-sm-12 m-auto">
    <!-- <div *ngIf="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div> -->
    <app-alert
      [message]="error"
      *ngIf="error"
      (closeBtn)="onCloseModal()"
    ></app-alert>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="buttons d-flex gap-3">
        <button
          type="submit"
          style="min-width: 100px"
          class="btn btn-primary position-relative d-flex align-items-center justify-content-center"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
