#recipeImg{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.dropdown-menu{
    right:0;
}

.dropdown-menu li a{
    cursor: pointer;
}

#detailRow{
    position: relative;
}

#dropdownRow{
    position: absolute;
    right: 0;
    top: 0;
}