<div class="row d-flex" id="detailRow">
  <div class="col-6">
    <img id="recipeImg" [src]="currentRecipe.imagePath" alt="" />
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ currentRecipe.name }}</h1>
      </div>
    </div>
    <div id="dropdownRow" class="row">
      <div class="col-xs-12">
        <div class="dropdown" appDropdown>
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="recipeDropdown"
          ></button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="addIngredients()"
                >To Shopping List</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
            </li>
            <li><a class="dropdown-item">Delete Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ currentRecipe.description }}</p>
        <h4>Ingredients:</h4>
        <ul>
          <li *ngFor="let ingredient of currentRecipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
