<div class="row">
  <div class="col-xs-12">
    <form action="" (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-4 mb-3">
          <label for="ingredientName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="ingredientName"
            placeholder="Apples"
            name="name"
            ngModel
            required
          />
        </div>
        <div class="col-2 mb-3">
          <label for="ingredientAmount" class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            id="ingredientAmount"
            placeholder="5"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="d-flex gap-3">
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">
          {{ editMode ? "Update" : "Add" }}
        </button>
        <button class="btn btn-danger" type="button" (click)="onDeleteItem()">
          Delete
        </button>
        <button class="btn btn-dark" type="button" (click)="clearForm()">
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
